.breadcrumb {
    background-color: transparent;
    padding: 0 0 24px 0;
    display: flex;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "";
}

.breadcrumb-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 !important;
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumb-item.active {
    color: rgba(0, 0, 0, 1);
}

.line-border {
    margin: 24px 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}

.cart-grid {
    margin-bottom: 80px;
}

/* cart-title */
.cart-title {
    font-size: 40px;
    line-height: 100%;
    padding-bottom: 24px;
}


/* Cart-item CSS */
.cart-container,
.cart-order {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px 24px;
}

.cart-container {
    max-width: 715px;
    width: 100%;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 24px 0;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}

.cart-item:first-child {
    padding-top: 0px;
}

.cart-item:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.cart-item-image {
    width: 124px;
    height: 124px;
    background: rgba(240, 238, 237, 1);
    border-radius: 8.66px;
    object-fit: cover;
    flex-shrink: 0;
}

.cart-item-details {
    flex: 1;
}

.cart-item-name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 2px;
    color: rgba(0, 0, 0, 1);
    line-height: 100%;
}

.cart-item-info:last-child {
    margin-bottom: 6px;
}

.cart-item-price {
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    color: rgba(0, 0, 0, 1);
}

/* .delete-btn {
    position: absolute;
    top: 25px;
    right: 0;
    cursor: pointer;
}
.delete-btn:hover {
    opacity: 0.7;
} */

.quantity-control {
    max-width: 126px;
    width: 100%;
    height: 44px;
    gap: 20px;
    display: flex;
    align-items: center;
    background: rgba(240, 240, 240, 1);
    padding: 12px 20px;
}

.quantity-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.quantity-btn:hover {
    opacity: 0.6;
}

.quantity-value {
    font-weight: 500;
    text-align: center;
    font-size: 14px;
}

/* cart order------------------------------- */
.cart-order {
    height: fit-content;
}

.order-summary-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
    line-height: 100%;
}

.summary-row {
    height: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    line-height: 100%;
}

.summary-label {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
}

.summary-value {
    font-size: 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

.summary-discount {
    color: rgba(255, 51, 51, 1);
}

.summary-total {
    height: 53px;
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 24px;
    color: rgba(0, 0, 0, 1);
}

.summary-total .summary-label {
    font-size: 20px;
}

.summary-total .summary-value {
    font-size: 24px;
}

.promo-section {
    margin-bottom: 24px;
}

.promo-input-wrapper {
    position: relative;
    justify-content: flex-start;
    background: rgba(240, 240, 240, 1);
    border-radius: 62px;
    padding: 12px 16px;
    max-width: 326px;
    width: 100%;
}

.promo-input {
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
    outline: none;
}



.apply-btn {
    max-width: 119px;
    width: 100%;
}

.apply-btn:hover {
    opacity: 0.7;
}

.checkout-btn {
    width: 100%;
    transition: opacity 0.2s;
    gap: 12px;
}

.checkout-btn:hover {
    opacity: 0.9;
}

@media (max-width:992px) {
    .cart-grid {
        margin-bottom: 0;
    }

    .col-lg-7 {
        margin-bottom: 20px;
    }

    .col-lg-5 {
        margin-bottom: 50px;
    }
}

@media (max-width:768px) {
    .breadcrumb{
        padding-bottom: 8px;
    }
    .cart-title{
        font-size: 32px;
        padding-bottom: 20px;
    }
    .cart-container{
        padding: 14px;
    }
    .cart-item{
        padding: 14px 0;
    }
    .cart-item:first-child{
        padding-top: 0;
    }
    .cart-item:last-child{
        padding-bottom: 0;
    }
    .cart-item-image{
        width: 99px;
        height: 99px;
    }
    .cart-item-name{
        font-size: 16px;
        margin-bottom: 1px;
    }
    .cart-item .d-flex{
        position: absolute;
        right: 0;
        max-height: 99px;
    }
    .cart-item-info{
        font-size: 12px;
    }
    .cart-item-price{
        font-size: 20px;
        margin-top: 13px;
    }
    .quantity-control{
        max-height: 31px;
        max-width: 105px;
        padding: 8px 14px;
    }
    .quantity-btn{
        width: 16px;
        height: 16px;
    }

    .cart-order{
        padding: 20px;
    }
    .order-summary-title{
        font-size: 20px;
        margin-bottom: 16px;
    }
    .summary-row{
        height: 22px;
        margin-bottom: 20px;
    }
    .summary-label{
        font-size: 16px;
    }
    .summary-value{
        font-size: 16px;
    }
    .summary-total{
        height: 47px;
        margin-bottom: 16px;
    }
    .summary-total .summary-label{
        font-size: 16px;
    }
    .summary-total .summary-value{
        font-size: 20px;
    }
    .promo-input-wrapper{
        max-width: 218px;
    }
    .apply-btn{
        max-width: 88px;
    }
    .checkout-btn{
        height: 54px;
        font-size: 14px;
    }
    .checkout-btn svg{
        width: 20px;
        height: 20px;
    }
}