.breadcrumb {
    background-color: transparent;
    padding: 0 0 24px 0;
    display: flex;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "";
}

.breadcrumb-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 !important;
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumb-item.active {
    color: rgba(0, 0, 0, 1);
}

/* sidebar css----------------------------- */
.sidebar-container {
    border: 1px rgba(0, 0, 0, 0.1) solid;
    border-radius: 20px;
    max-width: 297px;
    width: 100%;
    height: fit-content;
    padding: 0 24px;
}

.sidebar-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-section {
    padding-top: 20px;
}

.filter-section button {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-border {
    margin: 24px 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-option {
    max-height: 16px;
    height: 100%;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.dropdown-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 100%;
    color: rgba(0, 0, 0, 0.6);
}

.dropdown-option:last-child {
    margin-bottom: 0;
}

.dropdown-title svg {
    display: inline-block;
}

.dropdown-menu {
    min-width: 150px;
    list-style: none;
    display: none;
    cursor: pointer;
    position: absolute;
    right: -175px;
    top: 0;
    background-color: var(--bg-color_d);
    color: var(--color-text_w);
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-option:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    padding: 10px;
}

.dropdown-item:hover {
    background-color: var(--bg-color);
    color: rgba(0, 0, 0, 1);
}

.filter-option button {
    width: 100%;
    max-height: 27px;
    height: 100%;
    margin-bottom: 20px;
}

/* price css-------------------- */

/* color css------------------------------------------------- */
.color-picker {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.color-option {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid;
    transition: all 0.2s;
}

.color-option:hover {
    transform: scale(1.1);
}

.color-option.active {
    border: 2px solid;
    transform: scale(1.1);
}

/* Size css ---------------------------*/
.size-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.size-option {
    height: 39px;
    width: fit-content;
    border-radius: 62px;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: rgba(240, 240, 240, 1);
    padding: 10px 20px;
}

.size-option p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

.size-option:hover {
    transform: scale(1.1);
}

.size-option.active {
    background: rgba(0, 0, 0, 1);
}

.size-option.active p {
    color: var(--color-text_w);
}

.filter-option .btn {
    border: none;
}

.filter-option .btn.show {
    background-color: rgba(240, 240, 240, 1);
    color: #000;
    border-radius: 5px;
}

.sidebar-title:hover svg:first-child {
    transform: rotate(180deg);
}

.apply-filter {
    margin: 24px 0 29px;
    width: 100%;
}

.category-section {
    width: 100%;
}

/* Header-section */
.header-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    background: white;
    border-radius: 12px;
}

.text-muted_popup,
.filter-popup {
    display: none;
}

.text-muted_popup {
    color: rgba(0, 0, 0, 0.6);
}

.filter-popup {
    width: 32px;
    height: 32px;
    background-color: var(--bg-category_item);
}

.header-filter-product {
    display: flex;
    align-items: center;
}

.sort-dropdown {
    position: relative;
}

.sort-dropdown svg {
    margin-left: 4px;
}

.sort-dropdown .dropdown-menu {
    right: 0;
    top: 40px;
}

.sort-dropdown:hover .dropdown-menu {
    display: block;
}

/* Product grid css------------------ */
.product-card {
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 36px;
}

.product-card:hover {
    transform: translateY(-4px);

}

.product-item {
    height: 300px;
    background-color: rgba(240, 238, 237, 1);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 16px;
}

.product-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-detail .name-item {
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;

}

.product-detail .rating-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 8px 0;
}

.product-detail .rating-text {
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
}

.product-detail .rating-text span {
    color: rgba(0, 0, 0, 0.6);
}

.product-detail .price-item {
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-detail .price-sale {
    color: #c0c0c0;
    text-decoration: line-through;
}

.product-detail .discount-badge {
    background-color: #ffe8e8;
    color: #ff3333;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
}

/* Pagination css */
.line-border_product-grid {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    top: -4px;
    margin-bottom: 20px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.pagination-number {
    display: flex;
    gap: 5px;
}

.page-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s ease;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 500;
}

.page-item:hover,
.btn-next:hover,
.btn-prev:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 8px;

}

.page-item.active {
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    color: #000;
}

.btn-prev,
.btn-next {
    height: 36px;
    gap: 4px;
    padding: 8px 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    line-height: 20px;
}

@media (max-width:1200px) {
    .sidebar-container {
        display: none;
    }

    .header-section .text-muted_popup,
    .header-section .filter-popup {
        display: flex;
    }

    .header-filter-product {
        display: none;
    }
}

@media (max-width:768px) {
    .header-title {
        font-size: 32px;
    }

    .text-muted_popup {
        font-size: 14px;
    }

    .product-detail .price-item {
        font-size: 20px;
        gap: 5px;
    }

    .product-detail .name-item {
        font-size: 16px;
        /* Đảm bảo chữ không xuống dòng */
        white-space: nowrap;
        /* Ẩn phần nội dung thừa */
        overflow: hidden;
        /* Thêm dấu "..." khi văn bản bị cắt */
        text-overflow: ellipsis;
    }

    .page-item {
        width: 36px;
        height: 36px;
    }

    .btn-prev,
    .btn-next {
        font-size: 12px;
        padding: 8px 10px;
    }

    .page-item:nth-child(3),
    .page-item:nth-child(5) {
        display: none;
    }

    .pagination-number {
        gap: 0px;
    }
    .breadcrumb{
        padding-bottom: 12px;
    }
    .product-item img{
        object-fit: contain;
    }
}