/* Slider */
.slider {
    background-color: rgba(242, 240, 241, 1);
}

.slider-content {
    font-family: var(--font-shatoshi);
    color: rgba(0, 0, 0, 0.6);
    padding: 100px 0;
}

.slider h1 {
    letter-spacing: 0%;
    margin-bottom: 32px;
    letter-spacing: 0%;
}

.slider-content .text-content {
    margin-bottom: 32px;
}

.slider-content a {
    display: inline-block;
}

.slider-content .btn-d {
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 62px;
    margin-bottom: 48px;
}

.slider-content .achievement {
    border-right: 1px rgba(0, 0, 0, 0.1) solid;
}

.slider-content .achievement:first-child {
    padding-left: 0;
}

.slider-content .achievement:last-child {
    border: 0;
}

.slider-content .count {
    font-size: 40px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

.slider-img {
    overflow: hidden;
    position: relative;
}

.slider-img img {
    width: auto;
    height: 663px;
    object-fit: cover;
    object-position: center;
    position: relative;
    right: -100px;
    bottom: -60%;
    transform: translateY(-50%) scale(1.3);
}

.slider svg {
    position: absolute;
    top: 20%;
    right: 0;
}

.slider-img svg:last-child {
    top: 45%;
    left: 10%;
}

.achievement {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:1400px) {
    .slider-img img {
        transform: translateY(-50%) scale(1.4);
        right: -30%;
    }

}

@media (max-width:768px) {
    .slider-content {
        padding: 40px 0;
    }

    .slider h1 {
        font-size: 36px;
        margin-bottom: 20px;
        line-height: 34px;
    }

    .slider {
        font-size: 14px;
    }

    .slider .text-content {
        margin-bottom: 20px;
    }

    .slider-content .btn {
        width: 100%;
        margin-bottom: 20px;
    }

    .slider-img img {
        height: 448px;
        right: -60px;
    }

    .slider svg {
        top: 5%;
        right: -10px;
    }

    .slider-img svg:last-child {
        top: 25%;
        left: 5%;
    }

}

@media (max-width:450px) {
    .slider-img img {
        transform: translateY(-50%) scale(1.4);
        right: -20px;
    }

}

/* Brands */
.brands {
    background-color: #000000;
}

.brands-logo {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 130px;
}

.brands .brand-logo {
    display: inline-flex;
    justify-content: center;
}

/* Product CSS------------------------------------------------- */
.product-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 64px;
}

.title-section {
    margin: 72px 0 47px 0;
    text-align: center;
}

.swiper-wrapper {
    justify-content: space-between;
}

.swiper-slide {
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card {
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
}

.product-card:hover {
    transform: translateY(-4px);

}

.product-item {
    height: 300px;
    background-color: rgba(240, 238, 237, 1);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 16px;
}

.product-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-detail .name-item {
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
}

.product-detail .rating-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 8px 0;
}

.product-detail .rating-text {
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
}

.product-detail .rating-text span {
    color: rgba(0, 0, 0, 0.6);
}

.product-detail .price-item {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-detail .price-sale {
    color: #c0c0c0;
    text-decoration: line-through;
}

.product-detail .discount-badge {
    background-color: #ffe8e8;
    color: #ff3333;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
}

.show-all-btn {
    margin-top: 36px;
    max-width: 218px;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.show-all-btn:hover {
    background-color: #000000;
    color: #fff;
}