/* Slider */
.slider {
    margin-top: 24px;
    background-color: rgba(242, 240, 241, 1);
}

.slider-content {
    font-family: var(--font-shatoshi);
    color: rgba(0, 0, 0, 0.6);
    padding: 100px 0;
}

.slider h1 {
    letter-spacing: 0%;
    margin-bottom: 32px;
    letter-spacing: 0%;
}

.slider-content .text-content {
    margin-bottom: 32px;
}

.slider-content a {
    display: inline-block;
}

.slider-content .btn-d {
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 62px;
    margin-bottom: 48px;
    transition: all 0.3s;
}

.slider-content .btn-d:hover {
    transform: translateY(-2px);
}

.slider-content .achievement {
    border-right: 1px rgba(0, 0, 0, 0.1) solid;
}

.slider-content .achievement:first-child {
    padding-left: 0;
}

.slider-content .achievement:last-child {
    border: 0;
}

.slider-content .count {
    font-size: 40px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

.slider-img {
    overflow: hidden;
    position: relative;
}

.slider-img img {
    width: auto;
    height: 663px;
    object-fit: cover;
    object-position: center;
    position: relative;
    right: -100px;
    bottom: -60%;
    transform: translateY(-50%) scale(1.3);
}

.slider svg {
    position: absolute;
    top: 20%;
    right: 0;
}

.slider-img svg:last-child {
    top: 45%;
    left: 10%;
}

.achievement {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:1400px) {
    .slider-img img {
        transform: translateY(-50%) scale(1.4);
        right: -30%;
    }

}

@media (max-width:768px) {
    .slider-content {
        padding: 40px 0;
    }

    .slider h1 {
        font-size: 36px;
        margin-bottom: 20px;
        line-height: 34px;
    }

    .slider {
        font-size: 14px;
    }

    .slider .text-content {
        margin-bottom: 20px;
    }

    .slider-content .btn {
        width: 100%;
        margin-bottom: 20px;
    }

    .slider-img img {
        height: 448px;
        right: -60px;
    }

    .slider svg {
        top: 5%;
        right: -10px;
    }

    .slider-img svg:last-child {
        top: 25%;
        left: 5%;
    }

}
@media (max-width:522px) {
    .slider-content .achievement:nth-child(2){
        border: none;
    }
    .slider-content h1{
        line-height: 34px !important;
    }
    
}
@media (max-width:450px) {
    .slider-img img {
        transform: translateY(-50%) scale(1.4);
        right: -20px;
    }

}

/* Brands */
.brands {
    background-color: #000000;
}

.brands-logo {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 130px;
}

/* .brands .brand-logo {
    display: inline-flex;
    justify-content: center;
    
} */
 @media (max-width:991px) {
    .brands-logo{
        justify-content: center;
        gap: 30px;
        padding: 38px 0;
        height: fit-content;
    }
    
 }
@media (max-width:768px) {
    .brands-logo{
        gap: 20px;
    }
    
}
@media (max-width:530px) {
    .brands .brand-logo{
        max-width: 120px;
    }
    .brand-logo:nth-child(2){
        max-width: 70px;
    }
    
}


/* Product CSS------------------------------------------------- */
.product-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 64px;
}

.title-section {
    margin: 72px 0 47px 0;
    text-align: center;
}

.product-swiper{
    position: relative;
}
.product-swiper .swiper-button-next{
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
}
.product-container .swiper-wrapper {
    justify-content: space-between;
}

.swiper-slide {
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card {
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
}

.product-card:hover {
    transform: translateY(-4px);

}

.product-item {
    height: 300px;
    background-color: rgba(240, 238, 237, 1);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 16px;
}

.product-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-detail .name-item {
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
}

.product-detail .rating-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 8px 0;
}

.product-detail .rating-text {
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
}

.product-detail .rating-text span {
    color: rgba(0, 0, 0, 0.6);
}

.product-detail .price-item {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-detail .price-sale {
    color: #c0c0c0;
    text-decoration: line-through;
}

.product-detail .discount-badge {
    background-color: #ffe8e8;
    color: #ff3333;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
}

.show-all-btn {
    margin-top: 36px;
    max-width: 218px;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.show-all-btn:hover {
    background-color: #000000;
    color: #fff;
}

/* Dress style------------------------------------- */
.dress-style {
    background-color: rgba(240, 240, 240, 1);
    border-radius: 40px;
}

.dress-style .title-section {
    padding-top: 70px;
}

.styles-flex {
    width: 100%;
    padding: 0 64px 76px 64px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.styles-card {
    background-color: rgba(255, 255, 255, 1);
    width: 60%;
    height: 289px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.styles-card:hover {
    transform: translateY(-8px);
}

.styles-card:first-child,
.styles-card:last-child {
    width: 35%;
}

.dress-style h3 {
    font-family: var(--font-shatoshi);
    margin: 25px 0 0 36px;
}

.style-casual {
    background-image: url(./img/styles/e1b774aba32d9a769caba77c08e107a9198dcd.png);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: -200px center;
}

.style-formal {
    background-image: url(./img/styles/2025-10-28.png);
    background-repeat: no-repeat;
    background-size: 250%;
    background-position: -550px -300px;
}

.style-party {
    background-image: url(./img/styles/aa19c69e82cd85a823c989c1c8631bd976e2cbfb.png);
    background-repeat: no-repeat;
    background-position: 50px center;
}

.style-gym {
    background-image: url(./img/styles/fce658e0c17a220fe8bfb1126626f3ab58a761ec.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50px center;
}

@media (max-width:1200px) {
    .style-formal {
        background-position: 50%;
    }

}

@media (max-width:992px) {
    .styles-flex {
        flex-direction: column;
        padding-left: 24px;
        padding-right: 24px;
    }

    .styles-card {
        width: 100% !important;
    }

    .dress-style .title-section {
        line-height: 36px;
        padding: 40px 56px 28px 56px;
        margin-bottom: 0;
    }

    .title-section {
        font-size: 32px;
    }
}

@media (max-width:800px) {
    .style-casual {
        background-size: 200%;
        background-position: center;
    }

    .style-formal {
        background-size: 400%;
        background-position: center;
    }

    .style-party {
        background-size: 200%;
        background-position: 20% center;
    }

    .style-gym {
        background-size: 100%;
        background-position: 100px center;
    }

}


/* feedback css------------------------------*/
.feedback-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 40px;
}
.feedback-section{
    margin-bottom: 70px;
}

.navigation-buttons {
    display: flex;
    gap: 16px;
}

.feedback-header .swiper-button-next,
.feedback-header .swiper-button-prev {
    position: relative;
    width: fit-content;
}

.feedback-header .swiper-button-next svg,
.feedback-header .swiper-button-prev svg {
    width: 24px;
    height: 24px;
}

.nav-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.nav-button:hover {
    transform: scale(1.3);
}

.feedback-flex {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    overflow: auto;
}

.feedback-card {
    width: 400px;
    min-height: 240px;
    padding: 28px 32px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    border-radius: 20px;
    margin-bottom: 20px;
}

.feedback-card .stars {
    display: flex;
    margin-bottom: 15px;
    gap: 5px;
}

.feedback-card .customer-info {
    display: flex;
    align-items: center;
}

.feedback-card .customer-name {
    font-size: 20px;
    font-weight: 700;
    margin-right: 5px;
}

/* .feedback-card .verified-badge {
    width: 24px;
    height: 24px;
    background-color: #10B981;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
} */

.feedback-text {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

.feedback-container {
    position: relative;
}

/* Làm mờ bên TRÁI */
.feedback-container::before {
    content: '';
    position: absolute;
    top: 200px;
    left: 0;
    width: 100px;
    height: 50%;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%);
    z-index: 2;
    pointer-events: none;
}

/* Làm mờ bên PHẢI */
.feedback-container::after {
    content: '';
    position: absolute;
    top: 200px;
    right: 0;
    width: 100px;
    height: 50%;
    background: linear-gradient(270deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%);
    z-index: 2;
    pointer-events: none;
}

@media (max-width:1000px) {

    .feedback-container::after,
    .feedback-container::before {
        all: unset;
    }
}

@media (max-width:800px) {
    .feedback-header {
        align-items: flex-end;
    }

    .feedback-header h2 {
        font-size: 32px;
        line-height: 36px;
        max-width: 80%;
    }

    .feedback-flex {
        padding: 0 20px;
    }

    .feedback-card {
        min-width: 95%;
    }
}