/* Slider */
.slider {
    background-color: rgba(242, 240, 241, 1);
}

.slider-content {
    font-family: var(--font-shatoshi);
    color: rgba(0, 0, 0, 0.6);
    padding: 100px 0;
}

.slider h1 {
    letter-spacing: 0%;
    line-height: 34px;
    margin-bottom: 32px;
    letter-spacing: 0%;
}

.slider-content .text-content {
    margin-bottom: 32px;
}

.slider-content a {
    display: inline-block;
}

.slider-content .btn-d {
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 62px;
    margin-bottom: 48px;
}

.slider-content .achievement {
    border-right: 1px rgba(0, 0, 0, 0.1) solid;
}

.slider-content .achievement:first-child {
    padding-left: 0;
}

.slider-content .achievement:last-child {
    border: 0;
}

.slider-content .count {
    font-size: 40px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

.slider-img {
    overflow: hidden;
    position: relative;
}

.slider-img img {
    width: auto;
    height: 663px;
    object-fit: cover;
    object-position: center;
    position: relative;
    right: -100px;
    bottom: -60%;
    transform: translateY(-50%) scale(1.3);
}

.slider svg {
    position: absolute;
    top: 20%;
    right: 0;
}

.slider-img svg:last-child {
    top: 45%;
    left: 10%;
}

.achievement {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:1400px) {
    .slider-img img {
        transform: translateY(-50%) scale(1.4);
        right: -30%;
    }

}

@media (max-width:768px) {
    .slider-content {
        padding: 40px 0;
    }

    .slider h1 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .slider {
        font-size: 14px;
    }

    .slider .text-content {
        margin-bottom: 20px;
    }

    .slider-content .btn {
        width: 100%;
        margin-bottom: 20px;
    }

    .slider-img img {
        height: 448px;
        right: -60px;
    }

    .slider svg {
        top: 5%;
        right: -10px;
    }

    .slider-img svg:last-child {
        top: 25%;
        left: 5%;
    }

}

@media (max-width:450px) {
    .slider-img img {
        transform: translateY(-50%) scale(1.4);
        right: -20px;
    }

}

/* Brands */
.brands {
    background-color: #000000;
}
.brands-logo {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 130px;
}

.brands .brand-logo {
    display: inline-flex;
    justify-content: center;
}