.line-border {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}

.breadcrumb {
    background-color: transparent;
    padding: 24px 0 36px 0;
    display: flex;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "";
}

.breadcrumb-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 !important;
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumb-item.active {
    color: rgba(0, 0, 0, 1);
}

/* Thumbnails-------------------------------------------  */
.product-grid {
    display: flex;
    justify-content: space-between;
}

.product-image {
    display: flex;
    justify-content: space-between;
}

.thumbnail-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    max-width: 152px;
    width: 100%;
    height: 100%;
}

.thumbnail {
    width: 100%;
    max-height: 167px;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    background: rgba(240, 238, 237, 1);
}

.thumbnail:hover {
    border-color: #dee2e6;
}

.thumbnail.active {
    border: 2px #000 solid;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.main-image {
    background: #e9ecef;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 570px;
    max-width: 440px;
    width: 100%;
    padding: 0 0 0 7px;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
}

.product-option {
    max-width: 640px;
    width: 100%;
    padding: 0 0 0 40px;
}

.product-title {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 100%;
    padding-bottom: 14px;
}

.rating {
    color: #ffc107;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.rating span {
    color: #6c757d;
    font-size: 1.1rem;
    margin-left: 0.5rem;
}

.price-section {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.current-price {
    font-size: 32px;
    font-weight: 700;
}

.original-price {
    font-size: 32px;
    font-weight: 700;
    color: #999;
    text-decoration: line-through;
}

.discount-badge {
    background: #ffe0e0;
    color: #ff3333;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
}

.section-item {
    padding: 24px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.color-option {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
}

.color-option:hover {
    transform: scale(1.1);
}

.color-option.active {
    border-color: #000;
}

.color-option.active>svg {
    display: inline-block;
}

.color-option>svg {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.2rem;
}

.color-olive {
    background-color: #5a5a3d;
}

.color-teal {
    background-color: #2f5f5f;
}

.color-navy {
    background-color: #2d3e50;
}

.size-container {
    gap: 12px;
}

.size-option {
    background: #f8f9fa;
    transition: all 0.3s;
    height: 46px;
    color: rgba(0, 0, 0, 0.6);
    padding: 12px 24px;
}

.size-option:hover {
    border-color: #dee2e6;
}

.size-option.active {
    background: #000;
    color: #fff;
    border-color: #000;
}

.quantity-control {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #f8f9fa;
    max-width: 170px;
    width: 100%;
    padding: 16px 20px;
}

.quantity-btn {
    font-size: 24px;
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-value {
    font-size: 1.1rem;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.add-to-cart-btn {
    max-width: 400px;
    width: 100%;
    transition: all 0.3s;
}

.add-to-cart-btn:hover {
    background: #333;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.section-title {
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

@media (max-width:1400px) {
    .product-image {
        flex-direction: column;
    }

    .thumbnail-list {
        flex-direction: row;
        overflow-x: auto;
        height: 150px;
        max-width: 440px;
        margin: 20px 0;
        order: 1;
    }

    .thumbnail {
        max-width: 111px;
    }
}

@media (max-width:1200px) {
    .thumbnail-list {
        flex-direction: row;
        overflow-x: auto;
        gap: 12px;
        height: 200px;
    }

    .main-image {
        height: 500px;
    }
}

@media (max-width: 768px) {
    .product-grid {
        flex-direction: column;
        align-items: center;
    }

    .product-option {
        padding: 0;
    }

    .product-title {
        font-size: 1.8rem;
    }

    .thumbnail-list {
        height: 110px;
    }

    .thumbnail {
        min-width: 100px;
        max-height: 106px;
    }

    .thumbnail img {
        height: 100%;
        object-fit: cover;
    }

    .quantity-control {
        max-width: 110px;
        height: 44px;
    }

    .add-to-cart-btn {
        max-width: 236px;
        height: 44px;
    }

    .size-container {
        gap: 8px;
    }

    .size-option {
        padding: 10px 20px;
        font-size: 14px;
    }
}

/* Review section css---------------------------------- */
.nav-tabs {
    justify-content: center;
    display: flex;
    list-style: none;
}

.nav-tabs .nav-tab {
    display: inline-flex;
    justify-content: center;
}

.nav-tabs .nav-link {
    border: none;
    color: #999;
    font-size: 20px;
    line-height: 22px;
    padding: 24px 0;
}

.nav-tabs .nav-link:hover {
    border: none;
    color: #333;
}

.nav-tabs .nav-tab.active {
    font-weight: 500;
    background: transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.nav-tabs .nav-tab.active .nav-link {
    color: #000;
}


#product-detail,
#FAQs {
    display: none;
    transition: all 1s ease;
}

.reviews-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.reviews-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.reviews-count {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.reviews-controls {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.filter-btn {
    width: 48px;
    height: 48px;
    background: rgba(240, 240, 240, 1);
    border: none;
    transition: all 0.3s;
}

.filter-btn:hover {
    background: #e9ecef;
    transform: translateY(-2px);
}

.dropbtn1 {
    background-color: rgba(240, 240, 240, 1);
    max-width: 120px;
    width: 100%;
    border: none;
}

.dropbtn1 svg {
    display: inline-block;
}

.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown1:hover .dropdown-content1 {
    display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    min-width: 160px;
    border-radius: 15px;
    z-index: 1000;
    list-style: none;
    top: 50px;
    left: -20px;
}

/* Links inside the dropdown */
.dropdown-content1 a {
    border-radius: 15px;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 0;

}

.dropdown-content1 a:hover {
    background-color: #ddd;
    color: #000;
}

.show {
    display: block;
}

.accordion-header {
    font-weight: 700;
}

.write-review-btn {
    width: 166px;
    border: none;
    transition: all 0.3s;
    padding: 0;
}

.write-review-btn:hover {
    background: #333;
    transform: translateY(-2px);
}

@media (max-width:992px) {
    .nav-tabs .nav-link {
        font-size: 16px;
    }

}

.review-cards {
    margin-bottom: 20px;
}

.review-card {
    height: 100%;
    background: #fff;
    border: 1px solid #e9ecef;
    border-radius: 16px;
    padding: 28px 2rem;
    position: relative;
    transition: all 0.3s;
    flex-grow: 1;
}

.review-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.review-stars {
    display: flex;
    margin-bottom: 15px;
    gap: 6px;
}

.reviewer-info {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 1rem;
}

.reviewer-info svg {
    width: 24px;
    height: 24px;
}

.reviewer-name {
    font-weight: 700;
    font-size: 20px;
}

.review-text {
    color: rgba(0, 0, 0, 0.6);
    line-height: 22px;
    margin-bottom: 24px;
}

.review-date {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    line-height: 22px;
}

.more-options {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background: none;
    border: none;
    color: #999;
    cursor: pointer;
    font-size: 1.2rem;
}

.more-options:hover {
    color: #333;
}

.load-more-btn {
    max-width: 230px;
    width: 100%;
    border: 2px solid #e9ecef;
    transition: all 0.3s;
    display: block;
    margin: 13px auto;
}

.load-more-btn:hover {
    border-color: #000;
    background: #000;
    color: #fff;
}

@media (max-width: 768px) {
    .reviews-count {
        font-size: 14px;
    }

    .reviews-title {
        font-size: 20px;
        line-height: 100%;
    }

    .filter-btn {
        width: 40px;
        height: 40px;
    }

    .write-review-btn {
        max-width: 113px;
        height: 40px;
        font-size: 12px;
        line-height: 100%;
    }
    .nav-tabs .nav-tab{
        justify-content: flex-start;
    }
    .nav-tabs .nav-link {
        padding: 20px 0;
    }

    .dropdown1 {
        display: none;
    }
    .review-cards{
        margin-bottom: 15px;
    }
    .review-card {
        padding: 24px;
    }

    .reviewer-info {
        margin-bottom: 8px;
    }

    .reviewer-name {
        font-size: 20px;
        line-height: 22px;
    }

    .review-text {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 1rem;
    }
    .load-more-btn{
        margin: 5px auto;
    }
}